* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}
footer{
    text-align: center;
    margin: 1vw;
    color: rgba(191, 191, 191, 0.651)
    

}
.container{
    display: grid;
    grid-template-rows: 15rem ;
    width: 23rem;

    height: auto;
    margin: auto;
    justify-content: center;
    background-color: black;
    border-radius: 2.1rem;
}
.hesaplar {
    display: grid;
    grid-template-columns:repeat(4,5rem) ;
    grid-template-rows: repeat(5,5rem);
    row-gap: 0.3rem;
    column-gap: 0.5rem;
    padding: 0.9rem;
}
.button {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    font-size: 1.7rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


#screen{
    position: relative;
    display: grid;
    grid-template-rows: 5rem 5rem;
    padding: 0.9rem;
    bottom: -3rem;
}
#screen1 , #screen2{
    max-width: 20rem;
    text-align: right;
    font-size: 4rem;
    font-weight: 500;
    color: white;
    text-overflow:ellipsis;
    margin: 5px;
    overflow: hidden;
    
}
#screen1{
    color: #9f9f9f;
    font-weight: 300;
    font-size: 3rem;
}
#screen2{
    direction: rtl;
}
.status{
    position: absolute;
    margin: -38px 0px 0 260px;

}
.clock{
    position: absolute;
    margin: -38px 300px 0 25px;
    color: white;
}
    
.btn1 , .btn2,.btn3 {
    background-color: #A5A5A5;
    color: black;
 
}
.btn4, .btn8, .btn12, .btn16, .btn19 {
    background-color: #F29E4B;
    color: white;
    
}
.btn5,.btn6,.btn7,.btn9,.btn10,.btn11,.btn13,.btn14,.btn15,.btn17,.btn18 {
    background-color: #333333;
    color: white;
    
}
.btn17 {
    grid-column: 1/3;
    border-radius: 2.5rem;
}
.button:hover {
    background-color: rgba(191, 191, 191, 0.5);
}

img{
    width: 85px;
}
.clock{
    position: absolute;
    margin: -38px 300px 0 25px;
    color: white;
}
.content-top{
    position: relative;
}